.view-list {
  height: 100%;
  padding: 31px 0 0 0;
}

.view-list .load-more .load-more__btn {
  font-family: var(--font-family-main);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #F2F2FF;
  background: #17172C;
  border: 2px solid #F9F7FF;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  display: none;
}

@media (min-width: 768px) and (max-width: 1194px) {
  .view-list {
    padding: 6.5rem 4.5rem 0;
  }
}

@media (max-width: 767px) {
  .view-list {
    padding: 6.5rem 1.5rem 8.75rem;
  }

  .view-list .load-more .load-more__btn {
    display: inline-block;
  }
}
