.arrow-right {
    height: 11px;
    width: 11px;
    opacity: 0.5;
    margin-top: 0.2rem!important;
}

.black-button {
    background: #17172C;
    border-radius: 2px;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    width: 250px;
}

.black-button:hover {
    color:  #fff;
}

.category-trail {
    margin-bottom: 2rem;
}

.category-trail > * {
    margin: 0 0.5rem 0 0;
}

.primary-image__img {
    max-height: 450px;
    width: 100%;
    object-fit: contain;
}

.product {
    border-bottom: 1px solid rgba(7, 7, 44, 0.1);
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

.product-list-wrapper {
    width: 100%;
}

.product-block-header {
    margin-bottom: 2rem;
}

.product-description > * {
    margin: 1rem 0;
}

.product-details-page {
    padding-bottom: 2rem;
}

.product-details-product-block .products-wrapper {
    grid-template-columns: repeat(4, 1fr)
}

.product-details-product-block .product-scroll {
    max-height: 395px;
    margin-bottom: 2rem;
}

.view-list {
    height: 100%;
    padding: 31px 25px 0 25px;
}

.view-list .load-more .load-more__btn {
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #F2F2FF;
    background: #17172C;
    border: 2px solid #F9F7FF;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    display: none;
}

@media (min-width: 768px) and (max-width: 1194px) {
    .view-list {
        padding: 6.5rem 4.5rem 0;
    }
}

@media (max-width: 767px) {
    .view-list {
        padding: 6.5rem 1.5rem 8.75rem;
    }

    .view-list .load-more .load-more__btn {
        display: inline-block;
    }
}