.brand-card {
  cursor: pointer;
  &:hover {
    a {
      color: white
    }
  }
}
.link-arrow {
  &::after {
    content: '\2192';
    margin-left: 5px;
  }
}
.carousel-img {
  height: 500px;
  overflow: hidden;
  @media only screen and (max-width: 576px) {
    height: 250px;
  }
}
.logo {
  min-height: 70px;
}
.brand-img {
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 10%;
  @media only screen and (max-width: 576px) {
    height: unset;
    position: unset;
  }
}
.brand-logo {
  height: 32px;
  object-fit: contain;
}
.brand-tagline {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  mix-blend-mode: difference;
  color: white;
}
