$sidebar-width: 320px;
.product-catalog {
  .sidebar {
    max-width: $sidebar-width;
  }
  .content {
    max-width: calc(100% - $sidebar-width);
  }
  .product-card {
    width: 189px
  }
  @media only screen and (max-width: 576px) {
    .sidebar, .content {
      max-width: 100%;
    }
    .product-card {
      width: 100%;
    }
  }
  .product-card_img-wrapper {
    width: 189px;
    height: 189px;
  }
  .product-card_variants {
    display: flex;
    justify-content: center;
    padding: 6px 0 12px;

    div {
      background: #CCC none center center / cover no-repeat;
      border-radius: 50%;
      font-size: 0;
      height: 16px;
      margin: 0 5px;
      width: 16px;

      &.active {
        outline: 1px solid #17172C;
      }

      &.more-items {
        background: transparent none;
        border: 0;
        font-size: 12px;
        line-height: 16px;
        text-decoration: underline;
      }
    }
  }
}
